
  <div class="container main-row">
  <div class="head">
    <div class="head-main-text">
    <h1 class="looking-for-a-lollip">Looking for a lollipop alternative?</h1>
  </div>
  <div class="head-text">
    <p class="body">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
       Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
      </div>
       <button type="button" class="btn bg cta-text-primary">  Primary CTA </button>
       <button type="button" class="btn outline cta-text-secondary">  Secondary CTA </button>
      
      </div>
      <div class="head-img">
        <img  src="/assets/Images/globe.png"  alt="Image not found" class="globe">
      </div>
</div>

<div class="table-bg-design">
  <h3 class="table-text">This is a heading in <br> two lines</h3>

  <div class="table">
    <div class="table-lorem">
    <table >
      <tr>
        <th></th>
      </tr>

   <tr>
     <td>Lorem Ipsum 1</td>
   </tr>
   <tr>
    <td>Lorem Ipsum 2</td>
  </tr>
  <tr>
    <td>Lorem Ipsum 3</td>
  </tr>
  <tr>
    <td>Lorem Ipsum 4</td>
  </tr>
  <tr>
    <td>Lorem Ipsum 5</td>
  </tr>
  <tr>
    <td>Lorem Ipsum 6</td>
  </tr>
  <tr>
    <td>Lorem Ipsum 7</td>
  </tr>
  <tr>
    <td>Lorem Ipsum 8</td>
  </tr>
  <tr>
    <td>Lorem Ipsum 9</td>
  </tr>
    </table>
  </div>

    <div class="table-main">
    <table >
     <tr>
       
       <th class="left-col-align">lollipop</th>
       <th ></th>
       <div class="vertical-border"></div>
       <th class="right-col-align">Icecandy</th>
     </tr>
     

      <tr>
        
        <td class="left-col-align"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21 6.285l-11.16 12.733-6.84-6.018 1.319-1.49 5.341 4.686 9.865-11.196 1.475 1.285z"/></svg></td>
        <td></td>
        <div class="vertical-border"></div>
        
        <td class="right-col-align"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21 6.285l-11.16 12.733-6.84-6.018 1.319-1.49 5.341 4.686 9.865-11.196 1.475 1.285z"/></svg></td>
      </tr>

      <tr>
        <td class="left-col-align"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21 6.285l-11.16 12.733-6.84-6.018 1.319-1.49 5.341 4.686 9.865-11.196 1.475 1.285z"/></svg></td>
        <td></td>
        <div class="vertical-border"></div>
        <td class="right-col-align"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21 6.285l-11.16 12.733-6.84-6.018 1.319-1.49 5.341 4.686 9.865-11.196 1.475 1.285z"/></svg></td>
      </tr>

      <tr>
        <td class="left-col-align"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21 6.285l-11.16 12.733-6.84-6.018 1.319-1.49 5.341 4.686 9.865-11.196 1.475 1.285z"/></svg></td>
        <td></td>
        <div class="vertical-border"></div>
        <td class="right-col-align"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21 6.285l-11.16 12.733-6.84-6.018 1.319-1.49 5.341 4.686 9.865-11.196 1.475 1.285z"/></svg></td>
      </tr>

      <tr>
        <td class="left-col-align"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21 6.285l-11.16 12.733-6.84-6.018 1.319-1.49 5.341 4.686 9.865-11.196 1.475 1.285z"/></svg></td>
        <td></td>
        <div class="vertical-border"></div>
        <td class="right-col-align"><svg width="24" height="24" class="cross-fill" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 11.293l10.293-10.293.707.707-10.293 10.293 10.293 10.293-.707.707-10.293-10.293-10.293 10.293-.707-.707 10.293-10.293-10.293-10.293.707-.707 10.293 10.293z"/></svg></td>
      </tr>

      <tr>
        <td class="left-col-align"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21 6.285l-11.16 12.733-6.84-6.018 1.319-1.49 5.341 4.686 9.865-11.196 1.475 1.285z"/></svg></td>
        <td></td>
        <div class="vertical-border"></div>
        <td class="right-col-align"><svg width="24" height="24" class="cross-fill" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 11.293l10.293-10.293.707.707-10.293 10.293 10.293 10.293-.707.707-10.293-10.293-10.293 10.293-.707-.707 10.293-10.293-10.293-10.293.707-.707 10.293 10.293z"/></svg></td>
      </tr>

      <tr>
        <td class="left-col-align"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21 6.285l-11.16 12.733-6.84-6.018 1.319-1.49 5.341 4.686 9.865-11.196 1.475 1.285z"/></svg></td>
        <td></td>
        <div class="vertical-border"></div>
        <td class="right-col-align"><svg width="24" height="24" class="cross-fill" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 11.293l10.293-10.293.707.707-10.293 10.293 10.293 10.293-.707.707-10.293-10.293-10.293 10.293-.707-.707 10.293-10.293-10.293-10.293.707-.707 10.293 10.293z"/></svg></td>
      </tr>

      <tr>
        <td class="left-col-align"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21 6.285l-11.16 12.733-6.84-6.018 1.319-1.49 5.341 4.686 9.865-11.196 1.475 1.285z"/></svg></td>
        <td></td>
        <div class="vertical-border"></div>
        <td class="right-col-align"><svg width="24" height="24" class="cross-fill" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 11.293l10.293-10.293.707.707-10.293 10.293 10.293 10.293-.707.707-10.293-10.293-10.293 10.293-.707-.707 10.293-10.293-10.293-10.293.707-.707 10.293 10.293z"/></svg></td>
      </tr>

      <tr>
        <td class="left-col-align"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21 6.285l-11.16 12.733-6.84-6.018 1.319-1.49 5.341 4.686 9.865-11.196 1.475 1.285z"/></svg></td>
        <td></td>
        <div class="vertical-border"></div>
        <td class="right-col-align"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21 6.285l-11.16 12.733-6.84-6.018 1.319-1.49 5.341 4.686 9.865-11.196 1.475 1.285z"/></svg></td>
      </tr>

      <tr>
        <td class="left-col-align"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21 6.285l-11.16 12.733-6.84-6.018 1.319-1.49 5.341 4.686 9.865-11.196 1.475 1.285z"/></svg></td>
        <td></td>
        <div class="vertical-border"></div>
        <td class="right-col-align"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21 6.285l-11.16 12.733-6.84-6.018 1.319-1.49 5.341 4.686 9.865-11.196 1.475 1.285z"/></svg></td>
      </tr>
    </table>
  </div>
</div>
</div>
<br>
<div class="compare-price">
  <h3 class="compare-head-text">Compare pricing today!</h3> 
  <p class="compare-subtext">Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
  <button type="button" class="Serving-btn">  25 Serving </button>
  <button type="button" class="Serving-btn">  50 Serving </button>
  <button type="button" class="Serving-btn">  100 Serving </button>
  <button type="button" class="Serving-btn">  200 Serving </button>
<br>

 <div class="switch-text-left">Annual</div><br>
 <div class="switch-text-left-sub">50% off</div>
<label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label> 
  <label class="switch-text-right">Monthly</label>
</div>


<div class="rate-block" id="text">
<div class="lollipop">
<h3 class="rate-text rate-text-align">lollipop</h3> 
<p class="monthly rate-align"> <span class="price"> $100 </span> Per month</p>
<p class="serving">For 100 serving</p>
</div>

<div class="icecandy">
<h3 class="rate-text rate-text-align">Icecandy</h3>
<p class="monthly rate-align"> <span class="price"> $200 </span> Per month</p>
<p class="serving">For 100 serving</p>
</div>

<div class="save-with-lollipop">
  <h3 class="rate-text">Your savings <br> with lollipop</h3>
  <p class="price price-final">$100</p>
  <p class="monthly">Per month</p>
</div>
</div>
<div class="customer-block">
<h3 class="customer-have-say">Here’s what our customers have to say </h3>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li class="round-dot" data-target="#myCarousel" data-slide-to="0"></li>
    <li class="round-dot" data-target="#myCarousel" data-slide-to="1"></li>
    <li class="round-dot" data-target="#myCarousel" data-slide-to="2"></li>
    <li class="round-dot" data-target="#myCarousel" data-slide-to="3"></li>
    
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="customer-detail">
        <p class="customer-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        <h4 class="customer-Name">Raja Ram</h4>
        <p class="customer-profession">Tip World</p>
      </div>
      <img src="/assets/Images/customer1.jpeg" alt="No image found" class="round-img">

        

    </div>

    <div class="item">
      <div class="customer-detail">
        <p class="customer-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        <h4 class="customer-Name">GokulDas</h4>
        <p class="customer-profession">Tip World</p>
      </div>
      <img src="/assets/Images/customer2.png" alt="No image found" class="round-img">
    </div>
    <div class="item">
      <div class="customer-detail">
        <p class="customer-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        <h4 class="customer-Name">Anurag Nair</h4>
        <p class="customer-profession">Fasionista</p>
      </div>
      <img src="/assets/Images/customer3.jpg" alt="No image found" class="round-img">
    </div>
    <div class="item">
      <div class="customer-detail">
        <p class="customer-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        <h4 class="customer-Name">Parth Patel</h4>
        <p class="customer-profession">Engineer</p>
      </div>
      <img src="/assets/Images/customer4.jpg" alt="No image found" class="round-img">
      <div class="customer-detail">
        <p class="customer-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        <h4 class="customer-Name">Parth Patel</h4>
        <p class="customer-profession">Doctor</p>
      </div>
    </div>
  </div>
  </div>

  <div class="loved-block">
<h3 class="loved-by-users">Loved by users, <br> 
  recommended by experts</h3>
  <p class="loved-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
  <button type="button" class="btn bg cta-text-primary">Primary CTA </button>
</div>
<div class="bag-block">
  <img class="bag" src="/assets/Images/bag.png"  alt="Image not found">
</div>
